# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/venv/
/env/

# Downloads folder
downloads/
/downloads
/downloads/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional: TypeScript cache
*.tsbuildinfo

# Optional: Next.js
.next/
out/

# Optional: Vercel
.vercel

# Add these lines to ignore temporary analysis files
results/temp/*
results/*.npy
results/clusters/*